body {
	background-color: rgb(196, 205, 214);	
	height: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	text-transform: uppercase;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-radius: 3px;
}

.btn-warning {
	border-color: rgb(255, 137, 30);
	background-color: rgb(255, 137, 30);
}
