/* Redefine bootstrap styles */
.carousel-control.left,
.carousel-control.right {
	background: rgba(0,0,0,.2);
}

/* Controls adjustment */
.carousel-control {
	width: 79px;
	height: 87px;
	top: 35%;
}

.left {
	border-radius: 0 3px 3px 0;
}

.right {
	border-radius: 3px 0 0 3px;
}
